In [40]:
import pandas as pd
import numpy as np
import statistics

In [2]:
player_data = pd.read_csv('inhouse.csv')

In [3]:
player_data.head()

,player,game_id,w/l,role,champ,k,d,a,cs,cs/min,dmg,dmg_share,first_blood
0,asianhenry,1,w,adc,Ezreal,9,6,14,213,5.59,33340,28.09,n
1,Knacked,1,w,supp,Janna,4,3,27,32,0.84,6487,5.47,n
2,TheRealShimmy,1,w,jg,Sejuani,13,8,18,228,5.98,24450,20.60,n
3,GF WONT SUPPORT,1,w,mid,Katarina,11,9,19,209,5.49,26592,22.41,n
4,Xe0,1,w,top,Kennen,5,12,21,196,5.14,27813,23.43,n

In [4]:
unique_players = list(player_data['player'].dropna().unique())
unique_players

['asianhenry',
 'Knacked',
 'TheRealShimmy',
 'GF WONT SUPPORT',
 'Xe0',
 'Ass2Malph',
 'GobStopper',
 'Jjjajangmyeon',
 'Bevo18',
 'Taxmo',
 'Ohoii',
 'itssyumm',
 'WhoopScoopPoop',
 'Abusive Teemo',
 'CJ Effort',
 'PurelyLucky',
 'TisPerfect']

In [5]:
len(unique_players)

17

In [68]:
player_input = input("Search player username ")

Search player username asianhenry

In [69]:
player_search =player_data[player_data['player'].str.lower()==player_input.lower()]

In [70]:
#player_search = player_data.loc[(player_data['player'] == player_input.casefold()),:]

In [71]:
player_search = player_search.reset_index(drop=True)

In [72]:
player_search

,player,game_id,w/l,role,champ,k,d,a,cs,cs/min,dmg,dmg_share,first_blood
0,asianhenry,1,w,adc,Ezreal,9,6,14,213,5.59,33340,28.09,n
1,asianhenry,2,w,adc,Ezreal,6,2,5,189,6.78,14444,19.97,n
2,asianhenry,3,l,adc,Miss Fortune,9,5,6,257,7.15,33830,30.10,n
3,asianhenry,4,l,adc,Miss Fortune,1,6,5,197,7.19,12416,18.11,n
4,asianhenry,5,l,adc,Miss Fortune,1,6,8,206,6.19,19040,16.65,n
5,asianhenry,6,w,adc,Miss Fortune,13,2,5,219,6.62,13260,11.82,n

In [73]:
wins = list(player_search['w/l']).count('w')
losses = list(player_search['w/l']).count('l')
win_pct = wins/(wins+losses)*100
#print(wins)
#print(losses)
#print(win_pct)

In [74]:
champs = list(player_search['champ'])
#champs

In [75]:
roles = list(player_search['role'])
#roles

In [76]:
total_kda = round((sum(player_search['k'])+sum(player_search['a']))/sum(player_search['d']),2)
#total_kda

In [77]:
first_bloods = list(player_search['first_blood']).count('y')
#first_bloods

In [78]:
no_supp = player_search[player_search['role']!='supp']
no_supp

,player,game_id,w/l,role,champ,k,d,a,cs,cs/min,dmg,dmg_share,first_blood
0,asianhenry,1,w,adc,Ezreal,9,6,14,213,5.59,33340,28.09,n
1,asianhenry,2,w,adc,Ezreal,6,2,5,189,6.78,14444,19.97,n
2,asianhenry,3,l,adc,Miss Fortune,9,5,6,257,7.15,33830,30.10,n
3,asianhenry,4,l,adc,Miss Fortune,1,6,5,197,7.19,12416,18.11,n
4,asianhenry,5,l,adc,Miss Fortune,1,6,8,206,6.19,19040,16.65,n
5,asianhenry,6,w,adc,Miss Fortune,13,2,5,219,6.62,13260,11.82,n

In [85]:
avg_cs = round(statistics.mean(no_supp['cs/min']),2)
avg_dmg = round(statistics.mean(no_supp['dmg_share']),2)
#print(avg_cs)
#print(avg_dmg)

In [82]:
player_dict = {}

In [83]:
player_dict['id'] = player_search['player'][0]
player_dict['games_played'] = len(player_search)
player_dict['wins'] = wins
player_dict['losses'] = losses
player_dict['win_pct'] = win_pct
player_dict['kda'] = total_kda
player_dict['avg_cs'] = avg_cs
player_dict['avg_dmg'] = avg_dmg
player_dict['first_bloods'] = first_bloods
player_dict['champs'] = champs
player_dict['roles'] = roles

In [84]:
player_dict

{'id': 'asianhenry',
 'games_played': 6,
 'wins': 3,
 'losses': 3,
 'win_pct': 50.0,
 'kda': 3.04,
 'avg_cs': 6.59,
 'avg_dmg': 20.79,
 'first_bloods': 0,
 'champs': ['Ezreal',
  'Ezreal',
  'Miss Fortune',
  'Miss Fortune',
  'Miss Fortune',
  'Miss Fortune'],
 'roles': ['adc', 'adc', 'adc', 'adc', 'adc', 'adc']}